.actived{
	background-color: #199ED8;
	color: #fff;
}

.mask_wrap{
	width: 100%;
	height: 100%;
	 background-color: rgba(0, 0, 0,0.6);
	position: fixed;
	top: 0;
	z-index: 1000;
}
.mask_content{
height:auto; 
width:80%; 
 background-color:#fff; 
 position:absolute; 
 top:50%; 
 left:50%;  
 transform:translate(-50%,-50%);
 z-index:10000;
  word-wrap: break-word; 
  padding:3px;

}
.close_btn{
	position: absolute;
	right: -5px;
	top: -5px;
	background-color: #ccc;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.prev_back{
	float: left;
	background-color: #ccc;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-top: -10px;

}
.show_price{
	float: right;
	text-align: center;
	line-height: 30px;
	margin-top: -4px;
	font-size: 30px;
}